.navBar{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}
.welcomeContainer{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}
.contentContainer{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  border: solid 1px red;
}
